---
layout: page
description: 夜惊心的博客，关注Python, C++, Linux, web, 记录挨踢生涯
---

<ul class="posts">
  {% for p in paginator.posts %}
    <li>
        <div class="post-list">
          <a href="{{ BASE_PATH }}{{ p.url }}">{{ p.title }}</a> <span class="post-time">{{ p.date | date_to_string }}</span>
        </div>
        <div class="excerpt">{{ p.content | split:'<!--more-->' | first }}</div>
        <p class="more"><a href="{{ p.url }}">阅读全文..</a></p>
	</li>
	<hr>
  {% endfor %}
</ul>

<div id="post-pagination" class="pagination">
  <ul class="pages">
	{% if paginator.previous_page %}
	<li class="prev">
	  {% if paginator.previous_page == 1 %}
		<a href="/">前一页</a>
	  {% else %}
		<a href="{{ paginator.previous_page_path }}">前一页</a>
	  {% endif %}
	</li>
	{% else %}
	<li class="prev disabled">
	  <a>前一页</a>
	</li>
	{% endif %}
	
    <li class="page disabled">
	    <a>{{ paginator.page }}</a>
	</li>
	
	{% if paginator.next_page %}
	<li class="next">
	    <a href="{{ paginator.next_page_path }}">下一页</a>
	</li>
	{% else %}
	<li class="next disabled">
	    <a>下一页</a>
	</li>
	{% endif %}
</div>